<!-- <div class="container"> -->
  <!-- Trigger the modal with a button -->
 <!--  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Post</button> -->

  <!-- Modal -->
 <!--  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog"> -->
    
      <!-- Modal content-->
      <div class="modal-content w3-animate-zoom" style="margin: 55px;box-shadow: 1px 1px 2px black, 0 0 55px black, 0 0 5px black;">
        <div class="modal-header" style="background-color: gray;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: white">ADD room</h4>
        </div>
        <div class="modal-body">
         <div class="input-group">
<span class="input-group-addon">Location: </span><input [(ngModel)]="location" name="Location" type="text"></div><br>
         <br>
         <div class="input-group">
<span class="input-group-addon">Description: </span><input [(ngModel)]="description" name="Description" type="text"></div>  <br>
         <div class="input-group">
<span class="input-group-addon">Contact info: </span><input [(ngModel)]="contactInfo" name="ContactInfo" type="text"></div> <br>
         <div class="input-group">
<span class="input-group-addon">Image:</span><input [(ngModel)]="image" type="file" id="image" (change)="ima($event)"></div>
        </div>
        <div class="modal-footer">
        <button (click)="submit()" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
  <!--   </div>
  </div>
</div>

 -->
