  <div class="modal fade w3-animate-zoom in" id="myModal" role="dialog">
    <div class="modal-dialog w3-animate-zoom"  style="display: block; padding-right: 15px;">>
    
      <!-- Modal content-->
      <div class="modal-content w3-animate-zoom">
        <div class="modal-header" style="background-color: gray;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body w3-animate-zoom" style="background-color: rgba(114, 113, 112,0.5);">
         

<div class="input-group"><span class="input-group-addon">Username:</span><input [(ngModel)]="username"  id = "username" type="username" name="username">  <br>
</div><br>
  <div class="input-group"><span class="input-group-addon">Password :</span><input [(ngModel)]="password" id = "password" type="password" name="password">  </div><br>


<div class="input-group"><span class="input-group-addon">Nationality:</span><input [(ngModel)]="nationality" id = "nationality" type="text" name="nationality"></div> <br> 
   <div class="input-group"><span class="input-group-addon">Location  :</span><input [(ngModel)]="location" id = "location" type="text" name="location"> <br> </div><br>


<div class="input-group"><span class="input-group-addon">Upload your photo:
  <input class='btn btn-default btn-file' type="file" id="image" (change)="ima($event)"/>
  </span>
</div>

<br>

  <div class="input-group"><span class="input-group-addon">Birthday :
  <select name="months" id="month">
  <option value="JAN">January</option>
  <option value="FEB">February</option>
  <option value="MAR">March</option>
  <option value="APR">April</option>
  <option value="MAY">May</option>
  <option value="Jun">June</option>
  <option value="Jul">July</option>
    <option value="AUG">August</option>
    <option value="SEP">Septemper</option>
    <option value="OCT">October</option>
    <option value="NOV">November</option>
    <option value="DEC">December</option>
  </select>
  <select  id= "day" >
    <option *ngFor="let day of days">{{day}}</option>
  </select>
  <select id="year" >
    <option *ngFor="let year of years" [value]="year">{{year}}</option>
  </select>
</span></div>

        </div>
        <div class="modal-footer" style="background-color: gray;">


          <button type="button" class="navbar-left btn btn-success w3-animate-zoom" data-dismiss="modal" (click)="signup()"> Signup </button>


          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
      
    </div>
  </div>





<form>
  
</form>


